---
import axios from "axios";
import Layout from "../layouts/Layout.astro";
import Maincontent from "../layouts/Maincontent.astro";
import { authenticate } from "../utils/auth";
import ProfileCard from "../components/profileCard";

const apiUrl = import.meta.env.PUBLIC_API_KEY;
let userId: string,
  displayName: string,
  pictureUrl: string,
  role: string,
  memberId: number;

const req = Astro.request;

const authResult = await authenticate(req);
if (authResult.redirect) {
  // ถ้าต้องการเปลี่ยนเส้นทาง ให้เปลี่ยนเส้นทางไปที่หน้าล็อกอิน
  return Astro.redirect(authResult.redirect);
} else {
  userId = authResult.userId;
  displayName = authResult.displayName;
  pictureUrl = authResult.pictureUrl;
  role = authResult.role;
  memberId = authResult.id;
}

// แปลง memberId เป็น Base64
const memberIdBase64 = btoa(memberId.toString());

//============================================================================

const fetchData = async () => {
  try {
    // ดึง JWT token จากคุกกี้ในฝั่งเซิร์ฟเวอร์
    const getToken = Astro.cookies.get("auth_token");
    const token = getToken.value;
    if (!token) throw new Error("JWT token not found in cookies");

    const response = await axios.get(
      `${apiUrl}/user-details/${memberIdBase64}`,
      {
        headers: {
          Authorization: `Bearer ${token}`,
        },
      }
    );
    return response.data;
  } catch (error) {
    console.error("Failed to fetch data:", error);
    return null;
  }
};

let userData = await fetchData();
console.log("ตรวจสอบว่า userData มีค่า>>>", userData);
---


<Layout title="ข้อมูลสมาชิก" id={memberId}/>

{
  userData ? (
    <Maincontent title="ข้อมูลสมาชิก">
      <ProfileCard userData={userData} client:load />      
    </Maincontent>
  ) : (
    <Maincontent title="ข้อมูลสมาชิก">
      <p>ไม่พบข้อมูลผู้ใช้</p>
    </Maincontent>
  )
}
