---
import axios from 'axios';

// Props interface
interface Props {
  title: string;
  id: number; // ID รับเข้ามาเป็น string
}

// รับค่า Props จาก Astro
const { title, id } = Astro.props;

const apiUrl = import.meta.env.PUBLIC_API_KEY;

// ฟังก์ชันสำหรับเรียก API
const fetchProfile = async () => {
  try {
    // JWT Token (สมมติว่าได้จาก Cookie หรือกระบวนการอื่น)
    const tokenObject = Astro.cookies.get('auth_token') || '';
    const token = typeof tokenObject === 'object' && 'value' in tokenObject ? tokenObject.value : tokenObject;

   
    // เรียก API
    const response = await axios.post(
      `${apiUrl}/get-profile`,
      { id: id },
      {
        headers: {
          Authorization: `Bearer ${token}`,
        },
      }
    );

    // คืนค่าผลลัพธ์
    return response.data;
  } catch (error) {
    console.error('Error fetching profile:', error);
    return null;
  }
};

// ดึงข้อมูลโปรไฟล์
const profileData = await fetchProfile();

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/theme.min.css" rel="stylesheet" type="text/css" />    
    <link rel="stylesheet" href="/assets/css/customTheme.css">   
    
  </head>

  <body> 
    <div id="layout-wrapper">
      <header id="page-topbar">        
        <div class="navbar-header">
          <button type="button" class="btn btn-sm mr-2 d-lg-none px-3 font-size-16 header-item waves-effect waves-light" id="vertical-menu-btn">
            <i class="fa fa-fw fa-bars"></i>
          </button>
          <div class="navbar-brand-box d-flex align-items-left">
            <a href="/" class="logo">              
              <span> N.M.S </span>
            </a>
          </div>

          <div class="d-flex align-items-center">
            <div class="dropdown d-inline-block ml-2">
              <button
                type="button"
                class="btn header-item waves-effect waves-light"
                id="page-header-user-dropdown"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img class="rounded-circle header-profile-user" src={profileData.line_usrphoto} alt="Header Avatar" />
                <span class="d-none d-sm-inline-block ml-1">{profileData.status}</span>
                <span class="d-none d-sm-inline-block ml-1">{profileData.first_name}</span>
                <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a
                  class="dropdown-item d-flex align-items-center justify-content-between"
                  href="/logout"
                >
                  <span class="log-out">Logout</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="vertical-menu">
        <div data-simplebar class="h-100">
          <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
              <li class="menu-title">เมนู</li>

              
              {/* เมนูสำหรับ role user */}
              {profileData.status === 'user' && (
                <li>
                  <a href="/edit-profile"><i class="feather-edit"></i><span>แก้ไข Profile</span></a>                
                </li>
              )}
              
              {/* เมนูสำหรับ role leader */}
              {profileData.status === 'leader' && (
                <li>
                  <a href="/users-in-groups"><i class="feather-user-check"></i><span>จัดการสมาชิก</span></a>                
                </li>
              )}

              {/* เมนูสำหรับ role hr หรือ super-admin */}
              {(profileData.status === 'hr' || profileData.status === 'super-admin') && (
                <li>
                  <a href="/tables"><i class="feather-users"></i><span>จัดการสมาชิก</span></a>                
                </li>
              )}
            </ul>
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">2024 © WEISE TECHNIKA</div>
            <div class="col-sm-6">
              <div class="text-sm-right d-none d-sm-block">
                Develop by WEISE TECHNIKA
              </div>
            </div>
          </div>
        </div>
      </footer>

      <div class="menu-overlay"></div>

      <script src="/assets/js/jquery.min.js" is:inline></script>
      <script src="/assets/js/bootstrap.bundle.min.js" is:inline></script>
      <script src="/assets/js/metismenu.min.js" is:inline></script>
      <script src="/assets/js/waves.js" is:inline></script>
      <script src="/assets/js/simplebar.min.js" is:inline></script>
      <script src="/plugins/jquery-sparkline/jquery.sparkline.min.js" is:inline></script>
      <script src="/plugins/jquery-knob/jquery.knob.min.js" is:inline></script>
      <script src="/plugins/morris-js/morris.min.js" is:inline></script>
      <script src="/assets/js/theme.js" is:inline></script>
    </div> 

    <style is:global>
      
      /* @media (max-width: 992px) {
        .logo span {
          display: flex; 
        }
      }
    
      @font-face { 
        font-family: 'Sarabun';
        src: url('/fonts/Sarabun.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: 'Kanit';
        src: url('/fonts/Kanit.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      body {
        font-family: 'Sarabun', sans-serif !important;          
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: 'Kanit', sans-serif !important;         
      } */
      .menu-title {
        font-size: 16px !important;
        font-weight: 600 !important;       
      }
    </style>
  </body>
</html>
